<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyParty.group.mapper.GroupMapper">

    <select id="findMyGroups" resultType="com.studyParty.entity.group.Group">
        SELECT group_user.group_user, "group".*
        FROM "group" join group_user on "group".id = group_user.group_id
        where group_user.group_user = #{id}
    </select>
</mapper>