<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyParty.user.mapper.FriendMapper">
    <!-- ArticleCommentMapper.xml -->
    <select id="friendList" resultType="com.studyParty.entity.friend.DTO.FriendDTO">
        SELECT
            `friend`.*,
            `users`.`name`,
            `users`.`head`,
            `users`.`status`,
            `users`.`school`
        FROM `friend`
                 LEFT JOIN `users` ON `friend`.friend_id = `users`.id
        WHERE `friend`.user_id = #{userId}
        ORDER BY `users`.`name`
    </select>
</mapper>
