<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyParty.article.mapper.ArticleMapper">
    <resultMap id="ArticleDTOResultMap" type="com.studyParty.entity.article.DTO.ArticleDTO">
        <result property="id" column="id"/>
        <result property="uploader" column="uploader"/>
        <result property="title" column="title"/>
        <result property="summary" column="summary"/>
        <result property="nice" column="nice"/>
        <result property="collect" column="collect"/>
        <result property="viewCount" column="view_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="createTime" column="create_time"/>
        <result property="isFeatured" column="is_featured"/>
        <result property="status" column="status"/>
        <result property="name" column="name"/>
        <result property="head" column="head"/>
        <result property="school" column="school"/>
        <result property="starPrestige" column="star_prestige"/>
        <result property="isNice" column="is_nice"/>
        <result property="isCollect" column="is_collect"/>
        <result property="isView" column="is_view"/>
        <result property="isUploader" column="is_uploader"/>
    </resultMap>
    <select id="selectArticle" resultMap="ArticleDTOResultMap">
        SELECT
            article.id,
            article.uploader,
            article.title,
            article.summary,
            article.nice,
            article.collect,
            article.view_count,
            article.comment_count,
            article.create_time,
            article.is_featured,
            article.status,
            users.name,
            users.head,
            users.school,
            users.star_prestige,
            au.is_nice,
            au.is_collect,
            au.is_view,
            au.is_uploader
        FROM article
                 LEFT JOIN users ON article.uploader = users.id
                 LEFT JOIN article_user au ON article.id = au.article_id AND au.user_id = ${userId}
        WHERE (article.title LIKE CONCAT('%', #{searchContext}, '%')
            OR article.summary LIKE CONCAT('%', #{searchContext}, '%'))
        ORDER BY article.create_time DESC

    </select>
    <select id="recommendArticles" resultType="com.studyParty.entity.article.DTO.ArticleDTO">
        SELECT
            a.id,
            a.uploader,
            a.title,
            a.summary,
            a.nice,
            a.collect,
            a.view_count,
            a.comment_count,
            a.create_time,
            a.is_featured,
            a.status,
            u.name,
            u.head,
            u.school,
            u.star_prestige,
            au.is_nice,
            au.is_collect,
            au.is_view,
            au.is_uploader
        FROM
            article a
                LEFT JOIN users u ON a.uploader = u.id
                LEFT JOIN article_user au ON a.id = au.article_id AND au.user_id = ${userId}
        ORDER BY
            CASE WHEN au.is_view = 1 THEN 1 ELSE 0 END ASC,
            a.view_count DESC,
            a.create_time DESC
    </select>
    <select id="myArticle" resultType="com.studyParty.entity.article.DTO.ArticleDTO">
        select article.id,
               article.uploader,
               article.title,
               article.summary,
               article.nice,
               article.collect,
               article.view_count,
               article.comment_count,
               article.create_time,
               article.is_featured,
               article.status,
               users.name,
               users.head,
               users.school,
               users.star_prestige,
               au.is_nice,
               au.is_collect,
               au.is_view,
               au.is_uploader
        from article
                 left join users on article.uploader = users.id
                 LEFT JOIN article_user au ON article.id = au.article_id AND au.user_id = ${userId}
        where article.uploader = #{userId}
        order by article.view_count desc, article.create_time desc
    </select>
</mapper>