<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyParty.article.mapper.ArticleMapper">
    <select id="selectArticleWithUser" resultType="com.studyParty.entity.article.DTO.ArticleDTO">
        SELECT
            article.id as article_id,
            article.uploader as article_uploader,
            article.title as article_title,
            article.summary as article_summary,
            article.nice as article_nice,
            article.collect as article_collect,
            article.view_count as article_view_cont,
            article.comment_count as article_comment_cont,
            article.create_time as article_create_time,
            article.is_featured as article_is_featured,
            article.stastus as article_status,
            users.id as user_id,
            users.name as user_name,
            users.head as user_head,
            users.status as user_status,
            users.school as user_school
        FROM article
                 LEFT JOIN users ON article.uploader = users.id
        WHERE (article.title LIKE CONCAT('%', #{searchContext}, '%')
            OR article.summary LIKE CONCAT('%', #{searchContext}, '%'))
        ORDER BY article.create_time DESC

    </select>
</mapper>