<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.studyParty.article.mapper.TaskMapper">
    <select id="selectTaskWithUser" resultType="com.studyParty.entity.task.DTO.TaskDTO">
        SELECT
            `task`.*,
            users.name as user_name,
            users.head as user_head,
            users.school as user_school
        FROM task
                 LEFT JOIN users ON task.uploader = users.id
        WHERE (task.title LIKE CONCAT('%', #{searchContext}, '%')
            OR task.context LIKE CONCAT('%', #{searchContext}, '%'))
        ORDER BY task.create_time DESC
    </select>
</mapper>